{{ user.username }} {{user.first_name }} {{ user.last_name }}
<a id="logout" href="/accounts/logout" class="btn btn-success">Logout</a>
<script>
function post(path, params, method) {
method = method || "post"; // Set method to post by default if not specified.

// The rest of this code assumes you are not using a library.
// It can be made less wordy if you use one.
var form = document.createElement("form");
form.setAttribute("method", method);
form.setAttribute("action", path);

for(var key in params) {
if(params.hasOwnProperty(key)) {
var hiddenField = document.createElement("input");
hiddenField.setAttribute("type", "hidden");
hiddenField.setAttribute("name", key);
hiddenField.setAttribute("value", params[key]);

form.appendChild(hiddenField);
}
}
var hiddenField = document.createElement("input");
hiddenField.setAttribute("type", "hidden");
hiddenField.setAttribute("name", "csrfmiddlewaretoken");
hiddenField.setAttribute("value", "{{ csrf_token }}");
form.appendChild(hiddenField);

document.body.appendChild(form);
form.submit();
}


function lgout() {
window.event.preventDefault();
post('/accounts/logout/');
}
gg = document.querySelector('#logout_oauth');
gg.addEventListener('click', lgout, true);
</script>